/**{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}*/

main:nth-child(1){
    position: absolute;
    width: 100%;
    height: 700px;
}

header{
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}


.hero{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #03060c;
    background-size: cover;
    background-position: center;
}
#nav-bar{
    position: sticky;
    display: flex;
    align-items: center;
    left: 15%;
    top: -50px;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}


.logo {
    font-family: 'Leckerli One', cursive;
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    left: 50px;
}

span{
    color: #f9004d;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #f9004d;
    transition: .5s;
}

.btn{
    background-color:#f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}



.content{
    position: absolute;
    top: 50%;
    left:8%;
    transform: translateY(-50%);
}



.content h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 70px;
    font-weight: 700;
    font-family: 'Volkhov', serif;

}



.content h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
.content h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}



.newslatter form input:first-child{
    position: absolute;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color:#f9004d;
    color: white;
    top: 250px;
    left: 50px;
}


.myProfile{
    position: absolute;
    width: 360px;
    height: 435px;
    right: 14%;
    top: 160px;
    z-index: 1;
}

#follow{
    position: absolute;
    right: -3%;
    top: 174.5px;
    transform: rotate(90deg);
    color: #FFFFFF;
    font-family:"Calibri";
    font-size: 14px;
    height: 150px;
    width: 300px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.linkedinWhite{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10%;
    top: 300px;

}

.githubWhite{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 16%;
    top: 300px;

}


.instagramWhite{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 1.7%;
    top: 250px;
}


.twitterWhite{
    position: absolute;
    width: 35px;
    height: 35px;
    right: 1.7%;
    top: 300px;
}

/*about section*/
#about{
    position: absolute;
    width: 100%;
    height: 700px;
    top: 660px;
    background-color: #1f2021;
}



#about>.about-text{
    position: absolute;
    left: 5%;
    top: 15%;
    color: white;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;

}

#about>h1:nth-child(1){
    position: relative;
    color: white;
    font-size: 70px;
    left: 40%;
    top: 5%;
    display: inline;
    font-family: 'Aclonica', sans-serif;
}

#cv-card{
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: #8e44ad;
    left: 80%;
    bottom: 40%;
    border: #625C56 solid 5px;
}

#cv-card>.myCv{
    position: absolute;
    width: 200px;
    height: 300px;
}

.btnDownloadCv{
    position: absolute;
    width: 150px;
    height: 45px;
    background-color: #f9004d;
    color: white;
    left: 83%;
    bottom: 30%;
    /* border: #d9d1c9 solid 3px;*/
    border-radius: 100px;
}

.btnDownloadCv:hover{
    transform: scale(1.2);
}

.bgPic{
    position: absolute;
    width: 325px;
    height: 300px;
    top: 40%;
    left: 2%;
    margin: 0;
    border-radius: 100%;
}
/*

#about>.about-text para{
    left: 15%;
    font-family: 'Source Code Pro', monospace;
}
*/

.para-two{
    color: #FDA7DF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    left: 15%;

}


/*section service*/

#service-section{
    position: absolute;
    top: 1350px;
    width: 100%;
    height: 600px;
    background-color: #000000;
}

#service-section>h1:nth-child(1){
    position: relative;
    display: inline;
    color: white;
    left: 40%;
    top: 5%;
    font-size: 70px;
    font-family: 'Aclonica', sans-serif;
}

#service-section>.frame{
    position: absolute;
    color: #0c39bf;
   /* display: inline;*/
    top: 25%;
    width: 300px;
    height: 380px;
    border-radius: 50px;
    border: white solid 1px;
    background-color:rgba(255, 255, 255, 0.2);
}

#service-section>#frame-one{
    left: 8%;
}

#service-section>#frame-two{
    left: 38%;
}

#service-section>#frame-three{
    left: 69%;
    width: 350px; !important;
}

#service-section>.frame>.icn{
    position: absolute;
    width: 100px;
    height: 100px;
    display: inline;
    border-radius: 100px;
    left: 30%;
    top: 2%;
    border: white solid 3px;
}

#service-section>.frame>.icn>.im{
    position: absolute;
    width: 100px;
    height: 100px;
}

#service-section>.frame>.hs{
    position: relative;
    display: inline;
    left: 20%;
    top: 30%;
}

#service-section>.frame>h4{
    position: relative;
    color: white;
    margin: 0;
    top: 40%;
    left: 5%;
}

/*section skill*/

#skill-section{
    position: absolute;
    top: 1950px;
    height: 700px;
    width: 100%;
    background-color: #1f2021;
}

#skill-section>h1:nth-child(1){
    position: relative;
    display: inline;
    left: 40%;
    top: 5%;
    color: white;
    font-size: 70px;
    font-family: 'Aclonica', sans-serif;
}

#skill-section>#languages{
    position: absolute;
    width: 700px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    left: 7%;
    top: 22%;
    border-radius: 50px;
}

#skill-section>#tools{
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    left: 45%;
    top: 55%;
    border-radius: 50px;
}

#skill-section>#languages>h2{
    color: white;
    position:absolute;
    left: 30%;
    top: 1%;
}

#skill-section>#tools>h2{
    color: white;
    position:absolute;
    left: 40%;
    top: 1%;
}


#skill-section>#languages>div{
    position: absolute;
    display: inline-block;
    left: 10%;
    top: 30%;
}

#skill-section>#tools>div{
    position: absolute;
    display: inline-block;
    left: 20%;
    top: 30%;
}

/*section projects*/

#project-section{
    position: absolute;
    top: 2650px;
    width: 100%;
    height: 900px;
    background-color: #000000;
}

#project-section>h1:nth-child(1){
    position: relative;
    display: inline;
    left: 40%;
    top: 5%;
    color: white;
    font-size: 70px;
    font-family: 'Aclonica', sans-serif;
}


#hostel{
    position: relative;
    display: inline;
    left: 40%;
    top: 5%;
    color: white;
    font-size: 20px;
    font-family: 'Aclonica', sans-serif;

}

#student{
    color: white;
    font-size: 20px;
    left: 35%;
    top: 92%;


}
#parking{
    color: white;
    font-size: 20px;

}

#restaurant{
    color: white;
    font-size: 20px;

}

#supermarket{
    color: white;
    font-size: 20px;

}

#hotel{
    color: white;
    font-size: 20px;

}


#project-section>#p1{
    position: absolute;
    left: 10%;
    display: inline;
    top: 20%;
}


#project-section>#p2{
    position: absolute;
    left: 40%;
    display: inline;
    top: 20%;
}


#project-section>#p3{
    position: absolute;
    left: 70%;
    display: inline;
    top: 20%;
}

#project-section>#p4{
    position: absolute;
    left: 10%;
    display: inline;
    top: 60%;
}

#project-section>#p5{
    position: absolute;
    display: inline;
    left: 40%;
    top: 60%;
}

#project-section>#p6{
    position: absolute;
    display: inline;
    left: 70%;
    top: 60%;
}

#project-section>h3{
    position: relative;
    display: inline;
    top: 90%;
    left: 35%;
}


/*contact section*/

#contact-section{
    position: absolute;
    top: 3550px;
    height: 750px;
    width: 100%;
    background-color:#1f2021;
}

#contact-section>h1:nth-child(1){
    position: relative;
    display: inline;
    left: 40%;
    top: 5%;
    color: white;
    font-size: 70px;
    font-family: 'Aclonica', sans-serif;
}

#contact-section>.icl{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: inline;
}

#contact-section>#il1{
    left: 20%;
    top: 25%;
}

#contact-section>#il2{
    left: 45%;
    top: 25%;
}

#contact-section>#il3{
    left: 75%;
    top: 25%;
}

#contact-section>#form{
    position: absolute;
    color: rgba(255, 255, 255, 0.2);
    top: 38%;
    left: 35%;
}

#send-btn{
    background-color: #f9004d;
    color: white;
    border-radius: 50px;

    width: 150px;
    height: 45px;

}

#contact-section>h2{
    color: blue;
    position: absolute;
    top: 83%;
    left: 5%;
}

#contact-section>#l1 {
    left: 20%;
    top: 92%;
    width: 30px;
    height: 30px;

    /*width: 400px;
    height: 150px;
    color: #ffffff;
    outline: none;
    border: none;
    background-color: #f580bf;
    justify-content: center;*/

}

#contact-section>#l2{
    left: 25%;
    top: 92%;
    width: 30px;
    height: 30px;
}

#contact-section>#l3{
    left: 30%;
    top: 92%;
    width: 30px;
    height: 30px;
}

#contact-section>#l4{
    left: 35%;
    top: 92%;
    width: 30px;
    height: 30px;
}

#contact-section>#l5{
    left: 40%;
    top: 92%;
    width: 30px;
    height: 30px;
}

/*footer*/

footer{
    position: absolute;
    top: 4300px;
    height: 50px;
    width: 100%;
    background-color: #454647;
    color: white;


}
